//$color-1-ui: #012006
//$color-1-ui: #002c08
//$color-1-ui: #003d0b
$color-1-ui: #093d00
$color-2-ui: desaturate(lighten($color-1-ui, 55%), 75%)
//$sidebar-width: 180px
$sidebar-width: 15%
$theme-light: true

// nice progress bar element:
// http://media02.hongkiat.com/progress-bar-designs/20-Animated-CSS-Progress-Bar-by-Sascha-Michael-Trinkaus.jpg

@import base
@import reviewer
@import dictionary
@import sidebar
