SenseWidget QFrame {
    background-color: rgb(210, 255, 210);
}

ExampleAddButton {
    padding: 0px;
    margin: 0px;
    width: 25px;
    height: 20px;
}

ExampleWidget {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

LinkLabel {
    text-decoration: none;
    color: black;
}

QWidget {
    /* background-color: white; */
    /* color: red; */
}

DictWindow {
    background-color: rgb(150, 255, 150);
}

QLineEdit {
    background-color: white;
}

QScrollArea {
    background-color: white;
    border-width: 4px;
    border-color: rgb(90, 220, 90);
    border-style: solid;
    border-radius: 11px;
}

ScrollWidget {
    background-color: white;
    
    /* this has no effect: */
    /*
    border-width: 4px;
    border-color: red;
    border-style: solid;
    */
}

QPushButton {
    color: green;
    font-weight: bold;
    /* background-color: rgb(200, 255, 200); */
}

QPushButton:disabled {
    color: rgb(100, 100, 100);
    font-weight: normal;
}