#answer_text
  display: none

#reviewer_modal
  width: 50%
  border: 5px solid black
  border-radius: 10px
  padding: 0px
  margin-top: 10%
  margin-left: auto
  margin-right: auto

#reviewer_modal_header
  color: white
  background-color: black
  margin: 0px
  h2
    margin: 0px

#close_button
  float: right

#difficulty_buttongroup
  align-content: center
  align-self: center
